backend/sound_inputs/
backend/models/
backend/flagged/
backend/__pycache__/
backend/logfiles/
backend/api_keys.json
frontend/src/Settings/*.json
backend/tts-api*

live2d/Core/*.js
live2d/Core/*.d.ts
live2d/Core/*.js.map
!live2d/Core/*.md
!live2d/Core/*.txt

live2d/Samples/Resources/*
!live2d/Samples/Resources/output_sound.wav
!live2d/Samples/Resources/haru/
!live2d/Samples/Resources/Natori/